In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import random

In [14]:
n = 3000000 #number of records in file
s = 30000 #desired sample size
filename = "../Data/amazon_review_full_csv/train.csv"
skip = sorted(random.sample(range(n),n-s))

data_df = pd.read_csv(filename, header=None,skiprows=skip)

In [15]:
data_df.head()

,0,1,2
0,1,The Worst!,A complete waste of time. Typographical errors...
1,5,Rochelle explains It All for You,Wondering what the hell has happened to the mo...
2,5,NYTimes Likes IT,BARBIE AS RAPUNZEL: A CREATIVE ADVENTURE. I do...
3,5,Great primer on Bar Coding,This is a great book for anybody who wants to ...
4,1,"Worst ""Live"" recording I've ever bought!","I bought this CD for one song only, ""Steal Awa..."

In [16]:
data_df.columns =['Rating','Review Title', 'Review Text']

In [17]:
data_df.head()

,Rating,Review Title,Review Text
0,1,The Worst!,A complete waste of time. Typographical errors...
1,5,Rochelle explains It All for You,Wondering what the hell has happened to the mo...
2,5,NYTimes Likes IT,BARBIE AS RAPUNZEL: A CREATIVE ADVENTURE. I do...
3,5,Great primer on Bar Coding,This is a great book for anybody who wants to ...
4,1,"Worst ""Live"" recording I've ever bought!","I bought this CD for one song only, ""Steal Awa..."

In [18]:
data_df.shape

(30000, 3)